<!doctype html>
<html>
 <head>
  <title>AP30023</title>
  <link rel="stylesheet" type="text/css" href="../static/css/aboutus.css">
 </head>
 <body>
  <header>
   <p class="logo">Group06</p>
   <ul>
    <li><a href="/">Previous</a></li>
    <li><a href="/">Home</a></li>
   </ul>
  </header>
<h3 id="main">ABOUT US</h3>
 <p class="content">In this charming flat, find a calm haven of comfort and peace. This comfortable home, tucked away in a quiet neighbourhood, provides a welcome respite from the busy daily life. Inside, you'll discover a tasteful fusion of contemporary conveniences and classic charm that instantly makes the place feel familiar. Every area of this apartment radiates a feeling of peace and relaxation because to the soothing natural light that streams in through the huge windows. Every element has been carefully planned to provide a haven where you can genuinely relax and recharge, whether you're cooking in the elegant kitchen or relaxing in the roomy living space. Greetings from your new peaceful sanctuary.</p>

   <img src="../static/pic/aboutus.jpg" alt="temperature" style="width:500px;height:600px;">
 </body>
</html>