<!doctype html>
<html>
 <head>
  <title>AP30023</title>
  <link rel="stylesheet" type="text/css" href="../static/css/ctstyle.css">
 </head>
 <body>
  <header>
   <p class="logo">Group06</p>
   <ul>
    <li><a href="/">Previous</a></li>
    <li><a href="/">Home</a></li>
   </ul>
  </header>
<h4 id="main">CONTACT US</h4>

<section>
 <div id="s1">
 <p class="content1">Futuristic Real Estate Agency</p>
 <p class="content2">The Hong Kong Polytechnic University, Hung Hom, Kowloon, Hong Kong</p>
 </div>
 <div id="s2">
 <p class="content3">Office Hours</p>
 <p class="content4">Monday to Sunday 00:00-23:59</p>
 </div>
 <div id="s3">
 <p class="content5"> Email</p>
 <p class="content6">21078532d@connect.polyu.hk
23014714d@connect.polyu.hk
23020709d@connect.polyu.hk
21090688d@connect.polyu.hk</p>
 </div>
</section>


</body>
</html>