<!doctype html>
<html>
 <head>
  <title>AP30023</title>
  <link rel="stylesheet" type="text/css" href="../static/css/selstyle.css">
 </head>
 <body>
  <header>
   <p class="logo">Group06</p>
   <ul>
    <li><a href="/">Previous</a></li>
    <li><a href="/">Home</a></li>
   </ul>
  </header>
  <h2 id="main">ACCOMODATIONS</h2>
  <section>
   <a href="/room1"><img src="../static/pic/room1.jpeg" alt="room 1" style="width:300px;height:500px;"></a>
   <a href="/room2"><img src="../static/pic/room2.jpeg" alt="room 2" style="width:300px;height:500px;"></a>
   <a href="/room3"><img src="../static/pic/room3.jpeg"" alt="room 3" style="width:300px;height:500px;"></a>
  </section>
  <h3 id="main">LIVING ROOM</h3>
  <h4 id="main">BEDROOM</h4>
  <h5 id="main">KITCHEN</h5>
 </body>
</html>
